NODEFLOW-getstarted.txt
[{"id":"699000e3.34a32","type":"switch","z":"14cf63b1.ffcaec","name":"Is Value Even or Odd?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":388.47222900390625,"y":178.99999237060547,"wires":[["9ac6b3bd.60b9"],["a255a183.1a185"]]},{"id":"a255a183.1a185","type":"template","z":"14cf63b1.ffcaec","name":"LED OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/311/0/5850\", \"new_value\":\"0\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":631.1110687255859,"y":204.5555477142334,"wires":[["140b7f00.5f1501","a92aa2f.9145d6","28e16c09.521034"]]},{"id":"9ac6b3bd.60b9","type":"template","z":"14cf63b1.ffcaec","name":"LED ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/311/0/5850\", \"new_value\":\"1\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":630.8889007568359,"y":153.99999046325684,"wires":[["140b7f00.5f1501","28e16c09.521034"]]},{"id":"abcb8767.41b698","type":"function","z":"14cf63b1.ffcaec","name":"Even Value Calc","func":"var path = msg.path;\nif (path == \"/123/0/4567\") {\n    var check = Number(msg.value)/2;\n    var orig = parseInt(check);\n    var remainder = check - orig;\n    if (remainder !== 0) {\n        return {payload:1};\n    }\n    else { \n        return {payload:2};\n    }\n}\nelse {\n    return {payload:0}\n}","outputs":1,"noerr":0,"x":154.99999237060547,"y":216.33331775665283,"wires":[["41f20dac.eaca24","699000e3.34a32"]]},{"id":"41f20dac.eaca24","type":"debug","z":"14cf63b1.ffcaec","name":"","active":false,"console":"false","complete":"payload","x":354.8611145019531,"y":252.77776432037354,"wires":[]},{"id":"140b7f00.5f1501","type":"debug","z":"14cf63b1.ffcaec","name":"","active":false,"console":"false","complete":"false","x":905.365047454834,"y":180.99998664855957,"wires":[]},{"id":"a92aa2f.9145d6","type":"template","z":"14cf63b1.ffcaec","name":"Request TEMP Resource","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/303/0/5700\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"get\" }","x":674.2222137451172,"y":281.99999046325684,"wires":[["c60d977d.f15e18"]]},{"id":"dd9007f0.3857b8","type":"debug","z":"14cf63b1.ffcaec","name":"","active":false,"console":"false","complete":"value","x":918.3015594482422,"y":625.4444484710693,"wires":[]},{"id":"32a4c4b8.8199ec","type":"function","z":"14cf63b1.ffcaec","name":"Get Counter Value","func":"var path = msg.path;\nif (path == \"/123/0/4567\") {\n    var value = Number(msg.value);\n    return {payload:value}\n}\nreturn {payload:-1}","outputs":1,"noerr":0,"x":162.2222137451172,"y":334.9999942779541,"wires":[["ba88882f.40be08","9f49f090.5f441","7f6b2bf2.5eab24"]]},{"id":"ba88882f.40be08","type":"switch","z":"14cf63b1.ffcaec","name":"Is Value greater than 22?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"22","vt":"num"}],"checkall":"true","outputs":1,"x":399.47222900390625,"y":431.74999618530273,"wires":[["a0d0b5b8.02d208"]]},{"id":"a0d0b5b8.02d208","type":"template","z":"14cf63b1.ffcaec","name":"Reset Counter","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/123/0/4567\", \"new_value\":\"0\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":647.2222137451172,"y":431.99999046325684,"wires":[["e8237628.aec828"]]},{"id":"9f49f090.5f441","type":"switch","z":"14cf63b1.ffcaec","name":"Is Value 10?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"}],"checkall":"true","outputs":1,"x":362.22222900390625,"y":385.2499952316284,"wires":[["28c33c32.c1bf14"]]},{"id":"28c33c32.c1bf14","type":"template","z":"14cf63b1.ffcaec","name":"Add 10 to Counter","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/123/0/4567\", \"new_value\":\"10\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\" }","x":655.6666107177734,"y":383.88890647888184,"wires":[["e8237628.aec828"]]},{"id":"7f6b2bf2.5eab24","type":"switch","z":"14cf63b1.ffcaec","name":"Is Value 5?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"}],"checkall":"true","outputs":1,"x":358.972225189209,"y":336.2499942779541,"wires":[["b2406942.b499c8"]]},{"id":"b2406942.b499c8","type":"template","z":"14cf63b1.ffcaec","name":"Set Counter to 8","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/123/0/4567\", \"new_value\":\"8\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":646.8889007568359,"y":335.11110496520996,"wires":[["e8237628.aec828"]]},{"id":"1bb1c354.13f17d","type":"template","z":"14cf63b1.ffcaec","name":"DeRegister Device","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/86/0/1\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\", \"options\":\"noResp=true\" }","x":658.2222137451172,"y":505.99999046325684,"wires":[["d52b80ed.8221e"]]},{"id":"28ef3284.95776e","type":"template","z":"14cf63b1.ffcaec","name":"Reboot Device","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/3/0/3\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\", \"options\":\"noResp=true\" }","x":649.2222137451172,"y":546.9999904632568,"wires":[[]]},{"id":"ebb1eac2.36bec8","type":"template","z":"14cf63b1.ffcaec","name":"Reset Device","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/3/0/5\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\", \"options\":\"noResp=true\" }","x":640.2222137451172,"y":583.9999904632568,"wires":[[]]},{"id":"9c281fee.af874","type":"template","z":"14cf63b1.ffcaec","name":"Invoke FOTA","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/5/0/2\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\", \"options\":\"noResp=true\" }","x":748.2222290039062,"y":686,"wires":[[]]},{"id":"dc16fb6.c19cd08","type":"switch","z":"14cf63b1.ffcaec","name":"FOTA Manifest set Response?","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"/5/0/1","vt":"str"}],"checkall":"true","outputs":1,"x":491.22222900390625,"y":686,"wires":[["9c281fee.af874"]]},{"id":"2e852c87.903e94","type":"template","z":"14cf63b1.ffcaec","name":"Set FOTA Manifest","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/5/0/1\", \"new_value\":\"{\\\"key\\\":\\\"123\\\",\\\"sig\\\":\\\"456\\\",\\\"image\\\":\\\"fw.bin\\\"}\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":657.2222137451172,"y":468.99999046325684,"wires":[["9b34ec9.4c43e1"]]},{"id":"1dc8f1d3.00d0be","type":"mqtt in","z":"14cf63b1.ffcaec","name":"GenericMQTTObservations","topic":"mbed/observation/#","broker":"cf7fd49e.996af8","x":177.97222900390625,"y":55.25,"wires":[["48597b6f.242e74"]]},{"id":"28e16c09.521034","type":"mqtt out","z":"14cf63b1.ffcaec","name":"GenericMQTTLight","topic":"mbed/request/endpoints/cc69e7c5-c24f-43cf-8365-8d23bb01c707/311/0/5850","qos":"","retain":"","broker":"cf7fd49e.996af8","x":926.9722366333008,"y":230.99999332427979,"wires":[]},{"id":"c60d977d.f15e18","type":"mqtt out","z":"14cf63b1.ffcaec","name":"GenericMQTTTemp","topic":"mbed/request/endpoints/cc69e7c5-c24f-43cf-8365-8d23bb01c707/303/0/5700","qos":"","retain":"","broker":"cf7fd49e.996af8","x":928.9722366333008,"y":282.4999942779541,"wires":[]},{"id":"bf3652ca.b583d","type":"mqtt in","z":"14cf63b1.ffcaec","name":"GenericMQTTResponses","topic":"mbed/response/#","broker":"cf7fd49e.996af8","x":162.2222137451172,"y":625,"wires":[["a0405bcc.c7b868"]]},{"id":"e8237628.aec828","type":"mqtt out","z":"14cf63b1.ffcaec","name":"GenericMQTTCounter","topic":"mbed/request/endpoints/cc69e7c5-c24f-43cf-8365-8d23bb01c707/123/0/4567","qos":"","retain":"","broker":"cf7fd49e.996af8","x":940.2222366333008,"y":333.2499942779541,"wires":[]},{"id":"9b34ec9.4c43e1","type":"mqtt out","z":"14cf63b1.ffcaec","name":"GenericMQTTManifest","topic":"mbed/request/endpoints/cc69e7c5-c24f-43cf-8365-8d23bb01c707/5/0/1","qos":"","retain":"","broker":"cf7fd49e.996af8","x":946.2222290039062,"y":456.75,"wires":[]},{"id":"d52b80ed.8221e","type":"mqtt out","z":"14cf63b1.ffcaec","name":"GenericMQTTDeregister","topic":"mbed/request/endpoints/cc69e7c5-c24f-43cf-8365-8d23bb01c707/86/0/1","qos":"","retain":"","broker":"cf7fd49e.996af8","x":956.2222290039062,"y":515,"wires":[]},{"id":"d0b0cae1.3f7948","type":"debug","z":"14cf63b1.ffcaec","name":"","active":true,"console":"false","complete":"value","x":903.75,"y":56.75,"wires":[]},{"id":"a0405bcc.c7b868","type":"function","z":"14cf63b1.ffcaec","name":"Convert JSON String To JSON Object","func":"try {\n    return JSON.parse(msg.payload);\n}\ncatch (e) {\n}","outputs":1,"noerr":0,"x":473,"y":625,"wires":[["dd9007f0.3857b8","dc16fb6.c19cd08"]]},{"id":"48597b6f.242e74","type":"function","z":"14cf63b1.ffcaec","name":"Convert JSON String To JSON Object","func":"try {\n    return JSON.parse(msg.payload);\n}\ncatch (e) {\n}","outputs":1,"noerr":0,"x":523.5,"y":56,"wires":[["abcb8767.41b698","32a4c4b8.8199ec","d0b0cae1.3f7948"]]},{"id":"cf7fd49e.996af8","type":"mqtt-broker","z":"14cf63b1.ffcaec","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""}]
